footer{
    display: flex;
    justify-content: center;
    background-color: gray;
    padding:5vmax;
    height: 20vmax;
    max-width: 100vmax;
    gap:5vmax;
}

.details1{
    width: 60%;
}

ul li{
    list-style: none;
}

.footer-p{
    margin-bottom: 2vmax;
    font-weight: bold;
    font-size: 1.5vmax;

}

@media only screen and (max-width: 950px){
    li, p{
        font-size: 1.2vmax;
    }
}


@media only screen and (max-width: 550px){
    li, p{
        font-size: 1vmax;
    }
}



