body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vmax;
    background-color: white;
    overflow-x: hidden;
}

.imgDiv{
    width: 30%;
    height:max-content;
}
.contentDiv{
    width: 70%;
}
ul li{
    list-style: none;
}
ul{margin-top: 4vmax;}

#li1{
    font-size: 4vmax;
}

#li2{
    font-size: 2vmax;
}

#li3{
    font-size: 1.3vmax;
    margin-top: 2vmax;
    padding-right: 18vmax;
    /* margin-right:15vmax; */
    justify-content: center;
    margin-bottom: 4vmax;
}

.smallDiv{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.smallDiv > button{
    margin-right: 9vmax;
    background-color: gray;
    border-radius: 10px;
    width: 8vmax;
    height: 4vmax;
    transition: 0.5s;
}

.smallDiv > button:hover{
    background-color: rgb(61, 55, 55);
    cursor: pointer;
}

.smallDiv > p{
    font-size: 3vmax;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:gray
    
}


.imgDiv > img{
    width: 20vmax;
    object-fit: cover;
    margin-top: 5vmax;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vmax; 
    position: absolute;
    top:50vmax;
}

.cards{
    display: flex;
    flex-direction: column;
    width:22vmax;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;    
    z-index: 2;
}
.head{
    height: 3.5vmax;
}



.blue{
    background-color: darkblue;
}

div{
    transition: 1.5s;
}

.blue-sub{
    color:darkblue; 
    font-weight: bold;
    text-align: center;
    vertical-align: middle; 
    line-height: 6.8vmax;
}

#hover-blue:hover{
    background-color:rgba(0, 0, 139, 0.7);
    cursor:pointer;
}

#hover-pink:hover{
    background-color: rgb(225, 0, 255, 0.7);
    cursor:pointer;

}
.pink-sub{
    color:rgb(225, 0, 255); 
    font-weight: bold;
    text-align: center;
    vertical-align: middle; 
    line-height: 6.8vmax;
}

#hover-yellow:hover{
    background-color: rgb(231, 197, 4, 0.7);
    cursor:pointer;
}
.yellow-sub{
    color:rgb(231, 197, 4); 
    font-weight: bold;
    text-align: center;
    vertical-align: middle; 
    line-height: 6.8vmax;
    
}

#hover-green:hover{
    background-color: rgb(23, 153, 23, 0.7);
    cursor:pointer;
}
.green-sub{
    color:rgb(23, 153, 23); 
    font-weight: bold;
    text-align: center;
    vertical-align: middle; 
    line-height: 6.8vmax;
}

.pink{
    background-color: rgb(225, 0, 255);
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: rgb(23, 153, 23);
}

.subhead{
    height:7.8vmax;
}

.hover-pink, .hover-pink:after, .hover-pink:before {
    height: 100px;
    width: 100px;
    position: absolute;
    font-size: 40px;
    color: black
}


section{
    background-color: rgb(230, 229, 220);
}




@media only screen and (max-width: 1100px){

    
    section{
        flex-direction: column;
        align-items:center;
        /* flex-wrap: wrap; */
        /* bottom:-35vmax; */
        gap:5vmax;
        justify-content: space-between;
    }

    .subhead{
        font-size: 1.5vmax;
    }
    .cards{
        width: 30vmax;
        height: 15vmax;
    }

    html{
        overflow-x: hidden;
    }
}



@media only screen and (max-width: 800px){
    section{
        flex-direction: column;
        align-items:center;
        /* flex-wrap: wrap; */
        gap:5vmax;
        justify-content: space-between;
    }
    

    #li1{
        font-size: 4.5vmax;
    }

    #li2{
        font-size: 3vmax;
    }

    #li3{
        font-size: 2vmax;
        padding-right: 15vmax;
    }

    .contentDiv{
        width: 85%;
    }



    
    .subhead{
        font-size: 1.7vmax;
    }

   
}

@media only screen and (max-width: 550px){


}