

.ImgDiv{
    padding: 5vmax;

}

.CONTENT{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(230, 229, 220);
}
.ImgDiv > img{
    width:50vmax;
    border-radius: 2vmax;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ImgDiv > img:hover{
box-shadow: 3px 5px 4px 3px gray;
transition:0.5s;
border-radius:10px;
}



.heading-of-images{
    padding-left:2vmax;
    color:black;
    background-color: rgb(230, 229, 220);
}



    .heads
    
    {
        font-size: 2vmax;
        font-weight: bold;
        color:black;
    }

    .subheads{
        color:black;
        font-size: 1.5vmax;
    }

#heading-{
    background-color: rgb(230, 229, 220);
    color:black;
    padding-top:2vmax;
    padding-left:2vmax;
    font-size: 2vmax;
    font-weight: bold;
}

.TextDiv{
    padding: 5vmax;

}

.abc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmax;
    font-size: 1.2vmax;

}

.abc > span:hover{
    font-weight: bold;
}



@media only screen and (max-width: 800px){
    .CONTENT{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ImgDiv>img{
        width: 69vmax;
    }
}


@media only screen and (max-width: 600px){

    .ImgDiv>img{
        width: 64vmax;
    }
  
}

@media only screen and (max-width: 550px){

    .ImgDiv>img{
        width: 59vmax;
    }
  
}

@media only screen and (max-width: 500px){

    .ImgDiv>img{
        width: 54vmax;
    }
  
}

@media only screen and (max-width: 450px){

    .ImgDiv>img{
        width: 45vmax;
    }
  
}