.content{
    display: flex;
    justify-content: centre;
    align-items: center;
    width: 100%;
    height:fit-content;

    background-color: rgba(0, 0, 0, 0.729);
    color:white;
    margin-top: auto;
    margin-bottom:auto;
}
h1{
    padding-left:2vmax;
    color:white;
    background-color: rgba(0, 0, 0, 0.729);

}
.videos{
    background-color: rgba(0, 0, 0, 0.729);
}

.bottom-text1{
    margin-left: 1.7vmax;
    font-size :1.7vmax;
    color:  rgb(20, 240, 104);
}

.bottom-text2{
    margin-left: 1.7vmax;
    font-size :1.2vmax;
    color: white;
}

.container{
    margin-top:24vmax;
    width:100vmax;
    display: block;
    background-color: rgba(0, 0, 0, 0.729);
}

.videos{
    width: 60%;
}

iframe {
    display:block;
    width:90%;
    padding: 20px;
}

.subVideoLinks:hover{
    cursor:pointer;
}



.videoLinks{
    height:35.5vmax;
    border:1px solid black;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: gray;
    width:43vmax;
    margin-left: 2vmax;
    border-radius: 2vmax;
    box-shadow: rgba(255, 255, 255, 0.36) 2px 3px 6px, rgba(255, 255, 255, 0.36) 0px 3px 6px;
    margin-right: auto;


}



.videoLinks::-webkit-scrollbar {
    width: 12px;
  }
  
  .videoLinks::-webkit-scrollbar-track {
    background:  rgb(20, 240, 104);
  }
  
  .videoLinks::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid  rgb(20, 240, 104);
  }



.subVideoLinks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul{
    height: 35.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5vmax;
    flex-direction: column;
}
h4{
    font-family: myfontRegular;
    font-size: 13px;
    text-align: left;
    color: #85FFBD;
    margin: 0 0 4px;
    display: -webkit-box;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}



@media only screen and (max-width: 1100px){
    .container{
        margin-top: 80vmax;
    }
}

@media only screen and (max-width: 1000px){
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .videoLinks{
        margin-right: auto;
        margin-top: 2vmax;
        margin-left:auto;
        width: 85vmax;
    }

    .videos{
        width: 85vmax;
    }
}

@media only screen and (max-width: 550px){
    .container{
        margin-top: 85vmax;
    }
}
